* {
  box-sizing: border-box;
  font-family: system-ui;
  text-align: justify;
}

h1 {
  text-align: center;
  font-size: 175%;
}

h3 {
  font-size: 125%;
}

div.col-lg-4.col-md-6.col-sm-1 {
  border: 1px solid black;
  background-color: #CCCCFF;
  float: left;
}

.row {
  width: 100%
}

.divheading {
  border: 1px solid black;
  margin: 0px;
  width: 20%;
  text-align: center;
  position: relative;
  float: right;
  margin-left: 100%;
}

#background1 {
  background-color: #FFFFCD;
}

#background2 {
  background-color: #CDF7FF;
}

#background3 {
  background-color: #CDFFDA;
}

/* Desktop version */
@media (min-width: 992px) {
  .col-lg-4 {
    width: 30%;
    margin: 1.6%;
    position: relative;
    padding: 5px;
  }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 45%;
    position: relative;
    padding: 5px;
    margin: 2.5%;
  }
  #item3 {
    width: 95%;
  }
}

/* Mobile view */
@media (max-width: 767px) {
  .col-sm-1 {
    width: 95%;
    margin: 2.5%;
    position: relative;
    padding: 5px;
    float: none;
  }
}
